{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
	<style>
		.row{
			margin-top:5%;
		}
		.card-body a{
			width:100%;
		}
	</style>
{% endblock %}

{% block body %}

	<h1>Tableau de bord</h1>
	
	<section class="row">
		<div class="col-xs-12 col-sm-4 col-md-4">
        	<div class="card border-success mb-3">
              <div class="card-header"><h5>Sociétés</h5></div>
              <div class="card-body">
              	<p class="card-text">Gérez ici les entreprises ayant retenues votre attention</p>
              	<a class="btn btn-info" role="button" href="{{ path('company_add') }}">Ajouter</a>
              	<br>
              	<br>
                <a class="btn btn-info" role="button" href="{{ path('company_list') }}">Lister</a>
              </div>
            </div>
        </div>
        
        <div class="col-xs-0 col-sm-1 col-md-1"></div>
        
        <div class="col-xs-12 col-sm-7 col-md-7">
        	<div class="card border-success mb-3" >
              <div class="card-header"><h5>Contacts</h5></div>
              <div class="card-body">
                <p class="card-text">Gérez ici les prises de contact éventuelles au sein de vos sociétés préselectionnées</p>
                <a class="btn btn-info" role="button" href="{{ path('contact_add') }}">Ajouter</a>
              </div>
            </div>
        </div>
    </section>
    
    <section class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="card border-success mb-3" >
              <div class="card-header"><h5>Entretiens</h5></div>
              <div class="card-body">
                <h4 class="card-title">Light card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
		</div>
	</section>

{% endblock %}
